<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLESHEET LINK-->
    <link rel="stylesheet" href="css/style.css">
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <!--ICONS-->
    <script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
    <title>Kitchen Keeper</title>
</head>
<body>
    <!-- this is the page where the user will edit a recipe use the id to show just the one recipe they clicked on.-->
    <nav class="editRecipeNav">
        <ul>
            <li>
                <a href="/home"><i class="fa-solid fa-house"></i></a>
                <span>home</span>
            </li>
            <li>
                <a href="/myRecipes"><i class="fa-solid fa-utensils"></i></a>
                <span>my recipes</span>
            </li>
            <% recipeCollection.forEach(details=> { %>
                <% if (details._id==idRecipe) { %>
                <form
                    action="/recipe/remove/<%=details.id %>?_method=DELETE"
                    method="POST"
                    class="col-3">
                    <button class="btn btn-primary fa fa-trash" type="submit"></button>
                    <span>trash</span>
                </form>
        </ul>
    </nav>
            <form class="editForm" action="/recipe/update/<%= details._id %>?_method=PUT" method="POST">
                <div>
                    <input type="text" name="title" maxlength="30" placeholder="title" value="<%= details.title %>">
                </div>
                <section class="editSections">
                    <section class="editContainer">
                        <section class="recipeList">
                            <h3>Ingredients</h3>
                            <section id="ingredientList">
                                <% for(let i = 0; i < details.ingredients.length; i++) {%> 
                                    <span class="ingredientContainer">
                                        <input type="text" name="ingredients" placeholder="ingredient" value="<%= details.ingredients[i] %>">
                                        <i class="fa-solid fa-trash-can trash"></i>
                                    </span>
                                <% } %>   
                            </section>
                            <a href="#" id="addMoreIngredients"><i class="fa fa-plus"></i>Add More</a>
                        </section>
                    </section>
                    <section class="editContainer">
                        <section class="recipeList">
                            <h3>Instructions</h3>
                            <section id="instructions">
                                <% for(let i = 0; i < details.instruction.length; i++) {%>
                                    <span class ="instructionsContainer">
                                    <input type="text" name="instruction" placeholder="instruction" value="<%= details.instruction[i] %>">
                                    <i class="fa-solid fa-trash-can trash"></i>
                                </span>
                                <% } %>
                                <% } %>
                                <% }) %>    
                            </section>      
                            <a href="#" id="addMoreInstructions"><i class="fa fa-plus"></i>Add More</a>       
                        </section> 
                    </section>
                </section>
                <input class="editRecipeSubmit" type="submit">
            </form>
    <script src="/js/main.js"></script>
    </body>
</html>