<!DOCTYPE html>
<head>
<title>Todo App</title>
<!--STYLESHEET LINK-->
<link rel="stylesheet" href="/css/style.css">
<!--GOOGLE FONT-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
<!--ICONS-->
<script src="https://kit.fontawesome.com/195edb381b.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- this is the page where the user will edit a recipe use the id to show just the one recipe they clicked on.-->
    <nav>
        <ul>
            <li><a href="/home"><i class="fa-solid fa-house"></i></a></li>
            <li id="userDropDown"><a href="#"><i class="fa-solid fa-user"></i><i class="fa-solid fa-angle-down"></i></a>
                <ul id="dropDownMenu">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/group">Group Login</a></li>
                </ul>
            </li>
            <li><a href="/myRecipes"><i class="fa-solid fa-utensils"></i></a></li>
            <% recipeCollection.forEach(details=> { %>
                <% if (details._id==idRecipe) { %>
            <li><a href="/<%=details._id %>"><i class="fa-solid fa-pen-to-square"></i></a></li>
            <form
            action="/recipe/remove/<%=details.id %>?_method=DELETE"
            method="POST"
            class="col-3">
            <button class="btn btn-primary fa fa-trash" type="submit"></button></form>
            <!-- <li><a href="/edit/remove/<%=details._id %>?_method=DELETE"><i class="fa-solid fa-trash"></i></a></li> -->
        </ul>
        <h2><%= details.title %></h2>
        <% } %>
        <% }) %>
    </nav>
    <section class="recipeCardSections">
        <section class="recipeContainer">
            <% recipeCollection.forEach(details=> { %>
                <% if (details._id==idRecipe) { %>
                <section class="recipeList">
                            <h3>Ingredients</h3>
                                <ul>       
                                    <% for(let i = 0; i < details.ingredients.length; i++) {%>
                                        <li><%= `${[i + 1]}. ${details.ingredients[i]}` %></li>
                                        <% } %>           
                                </ul>
                                <% } %>
                                    <% }) %>
                </section>
        </section>
        <section class="recipeContainer">
            <section class="recipeList">
                <% recipeCollection.forEach(details=> { %>
                    <% if (details._id==idRecipe) { %>
                        <h3>Instructions</h3>
                        <ul>       
                            <% for(let i = 0; i < details.instruction.length; i++) {%>
                                <li><%= `${[i + 1]}. ${details.instruction[i]}` %></li>
                                <% } %>           
                        </ul>
                        <% } %>
                            <% }) %>
            </section>
        </section>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>
